@import url(https://fonts.googleapis.com/css2?family=Kanit&display=swap);/*Kanit*/
@import url(https://fonts.googleapis.com/css2?family=Carter+One&display=swap);/*Carter One*/
@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Righteous&display=swap);/*Righteous*/
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap);/*Josefin Sans*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);/*Poppins*/


body{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    
}

/* navbar */
ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
    gap: 100px;
    background: #01182d;
    margin: auto;
    padding: 20px;
    opacity: 0.6;
}

ul li{
    list-style: none;
}

ul li a{
    color: rgb(255, 255, 255);
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration:none;
    text-transform: uppercase;
    padding: 0 10px;
    
} 

ul li a:hover{
	background-color: #fff;
	color: #000;
    transition: 0.5s;
    border-radius: 50px;
}

a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
}

a:hover::after{
    width: 100%;
}   

.about-wrapper{
    height: 100vh;
}

.about-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-left-content > div{
    background: #153e64;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}

.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}

.about-img img{
    display: block;
    width: 200px;
}

.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}

.shadow:hover .about-img{
    transform: translateY(-10px);
}

.shadow:hover::after{
    opacity: 1;
}

.about-left-content h2{
    font-family: Poppins;
    font-size: 2rem;
    color: white;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.1;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
}

.about-left-content h3{
    font-family: Poppins;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}

.icons a{
    text-decoration: none;
    list-style-type: none;
    background: black;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons a:hover{
    background:#0787ff;
    color: white;
}

.about-btns{
    display: flex;
    margin: 2rem 0;
}

.about-me p{
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.5rem;
   
}

/* footer */
footer {
    background-color: #01182d;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}

.footer-content {
    max-width: 800px;
    margin: auto;
}

.socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.socials a:hover {
    color: #f39c12;
}


